
#menu ul {
    padding:0px;
    margin:1px;
    background-color:#EDEDED;
    list-style:none;
}
#menu ul li { 
    display: inline; 
}
#menu ul li a {
    text-align: center;
    padding: 0px 100px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid #EDEDED;
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}
body{
    border-radius: 50px;
    background: linear-gradient(145deg, #33016c, #3d0180);
    box-shadow:  17px 17px 35px #1a0037,-17px -17px 35px #5802b9;
}

h2,h3,h4{
    text-align: center;
}
.icones-habilidades{
    margin: 2% 0;
    font-size: 7em;
}

#imagem-principal{
    width: 100%;
}
#sobre{
    background-color: #C0C0C0;
     color: black;
}
.espacamento{
    padding: 7% 0;
}
#sobre-paragrafo{
    text-indent: 3%;
}
#sobre p {
    text-align: center;
     color: black;
}

#imagem-principal{
    width: 100%; 
}
ul,ol,li{
    text-decoration: none;
    display: inline-block;
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
footer {
    text-align: center;
    color: White;
}
footer{
    overflow: hidden;
}
