#contador{
    text-align: right;
    color: White;
}
#menu ul li { 
    display: inline; 
}
#menu ul li a {
    text-align: center;
    padding: 0px 50px;
    display: inline-block;
    color: White;
    text-decoration: none;
    border-bottom: 3px
    padding:0px;
    margin:0px;
    list-style:none;
}
#menu ul li a:hover {  
    color: Black;
    border-bottom:3px solid red;
}
body {
    border-radius: 82px;
    background: #0b659b;
    box-shadow: inset 23px 23px 29px #04283e, inset -23px -23px 29px #12a2f8;
}
#menu ul li a h2{
    text-align: center;
    font-size:22px;
}
.icones-habilidades{
    margin: 2% 0;
    font-size: 7em;
}

#imagem-principal{
    width: 100%;
    height: 
}
#sobre{
    text-align: center;
    background-color: #C0C0C0;
    color: black;
    font-size:20px;
}
#sobre2{
    height: 85px;
    text-align: center;
    background-color: White;
    color: black;
    font-size:20px;
}
.espacamento{
    padding: 7% 0%;
}
#sobre-paragrafo{
    text-indent: 0.5%;
}
#sobre p {
    text-align: center;
    color: black;
    font-size:16px;
}
#imagem-principal{
    width: 100%; 
}
ul,ol,li{
    text-decoration: none;
    display: inline-block;
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
footer {
    background-color: black;
    text-align: center;
    color: White;
    overflow: hidden;
    font-size:14px;
}
.subHeading{
    text-align: center;
}
.contactSection {
    color: #fff;
    text-align: center;
}
.contactButton {
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    text-align: center;
}
.contactButton:hover {
    text-decoration: none;
    color: #444;
    background-color: rgb(0,255,255);
}

.box { 
    margin-top: 20px;   
    text-align: center;    
}
.coluna{
    float: left;
    margin: auto;
    width: 25%;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;    
}

.espacamento2{
    padding: 7% 35%;
}

.espacamento3{
    padding: 0% 20%;
}
.coluna2{
    float: left;
    margin: auto;
    width: 33.33%;
    text-align: center;
}
.row2::after {
    content: "";
    clear: both;
    display: table;
    width: 100px;
    text-align: center;
}
.box2 { 
    margin-top: 100px;   
    text-align: right;
}
